{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "impliedStrict": true,
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "globalReturn": false
    }
  },
  "plugins": ["react", "jsx-a11y", "prettier", "jest", "babel"],
  "extends": ["standard", "prettier", "plugin:react/recommended", "plugin:jest/recommended"],
  "rules": {
    "prettier/prettier": 1,
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "react/jsx-key": "error",
    "react/prop-types": [2, {"ignore": ["children", "className", "location", "ui", "prismic", "data"]}],
    "camelcase": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".json", ".css", ".md"],
        "moduleDirectory": ["node_modules", "src", "."]
      }
    }
  }
}
