{
  "env": {
    "browser": true,
    "shared-node-browser": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "impliedStrict": true,
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true,
      "globalReturn": false
    }
  },
  "plugins": ["@typescript-eslint", "react", "prettier", "react-hooks", "import"],
  "extends": [
    "prettier",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "curly": ["error", "multi-line", "consistent"],
    "no-console": "off",
    "no-empty-pattern": "error",
    "no-duplicate-imports": "error",
    "prefer-const": "error",
    "import/no-unresolved": ["error", { "commonjs": true, "amd": true }],
    "import/export": "error",
    "import/named": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "import/namespace": "off",
    "import/default": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-unused-vars": ["off"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/exhaustive-deps": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_", "varsIgnorePattern": "^_" }],
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
        "paths": ["src"]
      }
    }
  },
  "overrides": [
    {
      "files": ["src"],
      "parserOptions": {
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
