/* Use this to hide stuff when canvas is active */
.ScrollRig-visibilityHidden {
  visibility: hidden;
}
.js-global-canvas-error .ScrollRig-visibilityHidden {
  visibility: unset;
}

/* Use this to hide text but keep it selectable  */
.ScrollRig-transparentColor {
  color: transparent;
}
.js-global-canvas-error .ScrollRig-transparentColor {
  color: unset;
}

/* Show if smooth scrollbar disabled */
.js-has-global-canvas.js-smooth-scrollbar-disabled .ScrollRig-hiddenIfSmooth {
  visibility: unset;
  color: unset;
}

/* Used on scroll wrapper */
.ScrollRig-scrollHtml {
  overflow: hidden;
  height: 100%;
}
.ScrollRig-scrollWrapper {
  height: 100%;
  overflow-y: scroll;
}
