

html {
  background-color: #f2f2f2;
}

main {
  padding: 0;
}


.App {
  text-align: center;
  /* text-align: left; */

  /* TODO remove */
  font-kerning: none;
  font-size: calc(10vw);

}



.App-header {
  min-height: 100vh;
  font-size: calc(10vw);
  color: deeppink;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  letter-spacing: -.05em;
}


.StickySection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5vw;
}

.RotatingImageModel {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30vw;
}
