@font-face {
  font-family: 'Aften Screen';
  /* src: url('/src/aften_screen.woff') format('woff'),
    url('/src/aften_screen.ttf') format('truetype'); */
  src: url('https://fonts.gstatic.com/s/philosopher/v9/vEFV2_5QCwIS4_Dhez5jcWBuT0s.woff') format('woff');
  /* src: url('/src/aften_screen.woff') format('woff'); */
  font-weight: 400;
  font-variant: normal;
}

html {
  background: #fff;
}

body {
  margin: 0;
  font-family: 'Aften Screen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: -.0em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
